.about {
  max-width: 1200px;

  padding: 0 2rem 0 2rem;
}
.containerBenefits {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.containerAboutMe {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.skills {
  width: 100%;
  height: 250px;
  margin-bottom: 5rem;
  border: 1px dotted antiquewhite;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .containerBenefits {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .containerAboutMe {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills {
    height: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .containerBenefits {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .about {
    margin: 0 auto;
    padding: 0;
  }
}
